@page
@model iapCoursework2.Pages.AddProductFormModel
@{
}

@using iapCoursework2.Models

<article class="form-container">
    <h1>Add Products to Database</h1>
    <form method="post">
        <div>
            <label for="Id">Product ID:</label>
            <input type="text" asp-for="Product.Id">
        </div>
        <div>
            <label for = "Name">Name:</label>
            <input type = "text" asp-for = "Product.Name">
        </div>
        <div>
            <label for = "Description">Description:</label>
            <input type = "text" asp-for = "Product.Description">
        </div>
        <div>
            <label for = "Price">Price:</label>
            <input type = "text" asp-for = "Product.Price">
        </div>
        <div>
            <label for="Category">Category:</label>
            <input type="text" asp-for="Product.Category">
        </div>
        <div>
            <label for = "ProductImg">Product Image:</label>
            <input type = "text" asp-for="Product.ProductImg">
        </div>
        <div>
            <label for="ProductIcon">Product Icon:</label>
            <input type="text" asp-for="Product.ProductIcon">
        </div>
        <button type="submit">Save</button>
    </form>
</article>