@page
@model iapCoursework2.Pages.categoriesModel
@{
    ViewData["Title"] = "Aniplanet | Categories";
    ViewData["ActivePage"] = "categories";
}

<h1 class="cp-heading">Categories</h1>
    <article class="category-gallery">
        <article class="cp-banner">
        <a asp-page="/CategoryProduct" asp-route-id="2"><img class="cp-banner" src="assets/image/category-banner/hg.png"></a>
        </article>
        <article class="cp-banner">
        <a asp-page="/CategoryProduct" asp-route-id="3"><img class="cp-banner" src="assets/image/category-banner/rg.png"></a>
        </article>
        <article class="cp-banner">
        <a asp-page="/CategoryProduct" asp-route-id="4d"><img class="cp-banner" src="assets/image/category-banner/mg.png"></a>
        </article>
    </article>