@page
@model iapCoursework2.Pages.DashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<article class="form-container">
    <h1>Admin Dashboard</h1>
    <a href="AddProductForm">Add Products to Database</a>
    <br>
    <a href="AddCategoryForm">Add Categories</a>
    <br>
    <a href="ManageUser">Manage User</a>
    <br> <br>
</article>