@page
@model iapCoursework2.Pages.IndexModel
@{
    ViewData["Title"] = "Aniplanet | Home";
    ViewData["ActivePage"] = "home";
}

<section class="gallery-container">
        <article class="gallery-images">
            <a href="product-aerial.html"><img class="image" src="assets/image/home-banner/aerial0.png"></a>
        </article>
        <article class="gallery-images">
            <a href="product-aerial.html"><img class="image" src="assets/image/home-banner/rgzeong.png"></a>
        </article>
        <article class="gallery-images">
            <a href="product-amiya.html"><img class="image" src="assets/image/home-banner/amiyadx.png"></a>
        </article>
        <article class="gallery-images">
            <a href="product-aerial.html"><img class="image" src="assets/image/home-banner/furai-windblade.png"></a>
        </article>
        <article class="gallery-images">
            <a href="product-amiya.html"><img class="image" src="assets/image/home-banner/nendo-miku-sekai.png"></a>
        </article>
        <a id="gallery-prev">&#10094;</a>
        <a id="gallery-next">&#10095;</a>
    </section>
    <br>

    <a href="AddProductForm">FORM</a>
    <br>
    <a href="AddCategoryForm">CATEGORY FORM</a>
    <br>
    <a href="Cart">CART</a>
    <br>
    <a href="ManageUser">MANAGE USER</a>
    <br> <br>
    <a class="gallery-more" href="#">Gundam Fest &#10095;</a> <br>
    <article class="product-gallery">
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/13542806.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">HG-TWFM 1/144 Gundam Aerial</p></a>
        </article>
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/zeong.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">RG 1/144 Zeong</p></a>
        </article>
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/hinu.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">RG 1/144 Hi-ν Gundam</p></a>
        </article>
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/eclipse.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">MG 1/100 Eclipse Gundam</p></a>
        </article>
        <article class="item-container">
            <a href="product-freedom.html"><img class="product-icon" src="assets/image/product/icon/mgsd-freedom.png"></a>
            <a href="product-freedom.html"><p class="product-name-home">MGSD Freedom Gundam</p></a>
        </article>
    </article>
    <br>
    <a class="gallery-more" href="#">Transformers Furai Model &#10095;</a> <br>
    <article class="product-gallery">
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/op-furai.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">Furai Model Optimus Prime (G1 Ver.)</p></a>
        </article>
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/megs-furai.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">Furai Model Megatron (IDW Autobot Ver.)</p></a>
        </article>
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/drift-furai.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">Furai Model Drift</p></a>
        </article>
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/windblade-furai.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">Furai Model Windblade</p></a>
        </article>
        <article class="item-container">
            <a href="product-aerial.html"><img class="product-icon" src="assets/image/product/icon/dev-furai.png"></a>
            <a href="product-aerial.html"><p class="product-name-home">Furai Model Devastator</p></a>
        </article>
    </article>
    <br>
    <a class="gallery-more" href="#">Nendoroid &#10095;</a> <br>
    <article class="product-gallery">
        <article class="item-container">
            <a href="product-amiya.html"><img class="product-icon" src="assets/image/product/icon/amiya.png"></a>
            <a href="product-amiya.html"><p class="product-name-home">Nendoroid Amiya DX Ver. (Arknights)</p></a>
        </article>
        <article class="item-container">
            <a href="product-amiya.html"><img class="product-icon" src="assets/image/product/icon/albedo.png"></a>
            <a href="product-amiya.html"><p class="product-name-home">Nendoroid Albedo (Overlord)</p></a>
        </article>
        <article class="item-container">
            <a href="product-amiya.html"><img class="product-icon" src="assets/image/product/icon/kei.png"></a>
            <a href="product-amiya.html"><p class="product-name-home">Nendoroid Kei Karuizawa (Classroom of the Elite)</p></a>
        </article>
        <article class="item-container">
            <a href="product-amiya.html"><img class="product-icon" src="assets/image/product/icon/miku-sekai.png"></a>
            <a href="product-amiya.html"><p class="product-name-home">Nendoroid Hatsune Miku Empty SEKAI Ver. (Hatsune Miku Colorful Stage)</p></a>
        </article>
        <article class="item-container">
            <a href="product-amiya.html"><img class="product-icon" src="assets/image/product/icon/lena-black.png"></a>
            <a href="product-amiya.html"><p class="product-name-home">Nendoroid Vladilena Milizé Bloody Regina Ver. (86 EIGHTY-SIX)</p></a>
        </article>
    </article>
    <br>
    <a class="gallery-more" href="#">Figma &#10095;</a> <br>
    <article class="product-gallery">
        <article class="item-container">
            <a href="product-shiroko.html"><img class="product-icon" src="assets/image/product/icon/figma-kurumi.png"></a>
            <a href="product-shiroko.html"><p class="product-name-home">figma Kurumi Tokisaki (Date A Live)</p></a>
        </article>
        <article class="item-container">
            <a href="product-shiroko.html"><img class="product-icon" src="assets/image/product/icon/figma-samus.png"></a>
            <a href="product-shiroko.html"><p class="product-name-home">figma Samus Aran (Metroid Dread)</p></a>
        </article>
        <article class="item-container">
            <a href="product-shiroko.html"><img class="product-icon" src="assets/image/product/icon/figma-mona.png"></a>
            <a href="product-shiroko.html"><p class="product-name-home">figma Mona (Genshin Impact)</p></a>
        </article>
        <article class="item-container">
            <a href="product-shiroko.html"><img class="product-icon" src="assets/image/product/icon/figma-doom.png"></a>
            <a href="product-shiroko.html"><p class="product-name-home">figma Doom Slayer (DOOM Eternal)</p></a>
        </article>
        <article class="item-container">
            <a href="product-shiroko.html"><img class="product-icon" src="assets/image/product/icon/figma-rem.png"></a>
            <a href="product-shiroko.html"><p class="product-name-home">figma Rem (RE:Zero)</p></a>
        </article>
    </article>