@page
@using Microsoft.AspNetCore.Identity
@using iapCoursework2.Models;
@inject UserManager<AppUser> UserManager
@model iapCoursework2.Pages.IndexModel
@{
    ViewData["Title"] = "Aniplanet | Home";
    ViewData["ActivePage"] = "home";
}

<section class="gallery-container">
        <article class="gallery-images">
            <a href="Products"><img class="image" src="assets/image/home-banner/aerial0.png"></a>
        </article>
        <article class="gallery-images">
            <a href="Products"><img class="image" src="assets/image/home-banner/rgzeong.png"></a>
        </article>
        <article class="gallery-images">
            <a href="Products"><img class="image" src="assets/image/home-banner/amiyadx.png"></a>
        </article>
        <article class="gallery-images">
            <a href="Products"><img class="image" src="assets/image/home-banner/furai-windblade.png"></a>
        </article>
        <article class="gallery-images">
            <a href="Products"><img class="image" src="assets/image/home-banner/nendo-miku-sekai.png"></a>
        </article>
        <a id="gallery-prev">&#10094;</a>
        <a id="gallery-next">&#10095;</a>
    </section>
    <br>

    <article class="product-gallery">
        @if (User.IsInRole("Admin"))
        {
            <a href="Dashboard"><h2>Admin Dashboard</h2></a>
        }
    </article>
    <br>
    </article>