@page
@model iapCoursework2.Pages.productsModel
@{
}

<article class="product-container-main">
    <section class="pp-image-container">
        <article class="pp-thumbnail-images">
            <img id="pp-image" src="assets/image/product/product-pages/hg-aerial/aerial-ba.jpg">
        </article>
    </section>
    <aside class="pp-product-info">
        <h1>HG-TWFM 1/144 Gundam Aerial</h1>
        <h1>£18.99</h1>
        <p>From the latest GUNDAM series 『MOBILE SUIT GUNDAM THE WITCH FROM MERCURY』comes an HG version of the GUNDAM AERIAL!</p>
        <p>■ The shield can be separated into 11 parts, which can be connected to various parts of the Gundam</p>
        <p>■ The shell unit is reproduced by combining molded parts, double-sided seals and clear parts.</p>
        <p>■ Beam parts are expressed with clear molding.</p>
        <p>■ Double side stickers with patterns printed on the adhesive surface express transparency and depth by sticking them from the inside of the transparent parts.</p>
        <br>
        <p>【Includes】</p>
        <ul>
            <li>Beam saber (x2)</li>
            <li>Beam rifle</li>
            <li>Shield</li>
            <li>Shell unit clear parts (x1 set)</li>
            <li>Effect parts for beam rifle</li>
            <li>Joint parts</li>
            <li>Stickers</li>
        </ul>
    </aside>
    <section class="yt-container">
        <iframe class="pp-yt-embed" width="560" height="315" src="https://www.youtube.com/embed/rDnoY_r5mqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
</article>